In [ ]:
# subset() is powerful
# don't have to rush to use 'dplyr'

In [8]:
data(mtcars)

In [ ]:
# find all the cars with 6 or 
# more cylinders and mpg higher than 20

In [9]:
head(mtcars[, 1:4])

                  mpg  cyl disp hp
Mazda RX4         21.0 6   160  110
Mazda RX4 Wag     21.0 6   160  110
Datsun 710        22.8 4   108   93
Hornet 4 Drive    21.4 6   258  110
Hornet Sportabout 18.7 8   360  175
Valiant           18.1 6   225  105

In [10]:
subset(mtcars, cyl >= 6 & mpg > 20)[, 1:4]

               mpg  cyl disp hp
Mazda RX4      21.0 6   160  110
Mazda RX4 Wag  21.0 6   160  110
Hornet 4 Drive 21.4 6   258  110

In [ ]:
# useful indeed, simple and intuitive